@font-face{
    font-family: "opensans";
    src: url("fonts/OpenSans-Regular.ttf")
}

body{
    font-family: "opensans", sans-serif;
    margin: 0;
    margin-bottom: 100px;
    color: black
}

a{
    color: black
}

.intro{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro h1 a {
    text-decoration: none;
}

.intro h1{
    font-size:20px;
}

.intro p{
    font-size:12.5px;
}

.content h2{
    font-size:12.5px;
    line-height: .6;
}

.content p{
    font-size:12.5px;
    line-height: .6;
    color: grey;
}

.image-grid{
    margin: 100px;
    margin-left: 330px;  
    margin-right: 130px;  
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 15px;
    row-gap: 40px;
}

.image-grid img{ /*with claudeai*/
    width:100%;
    height:auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 25px;
}

.nav h1 a {
    text-decoration: none;
}
.nav h1{
    font-size:20px;
}

.nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    height: 100vh;
    padding: 40px;
}

.bottom-gradient { /*with claudeai*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, white, transparent);
    pointer-events: none; /* Allows clicking through the gradient */
    z-index: 10; /* Ensures it appears on top */
}
