@font-face{
    font-family: "opensans";
    src: url("fonts/OpenSans-Regular.ttf")
}

body{
    font-family: "opensans", sans-serif;
    margin: 0;
    margin-bottom: 100px;
}

.intro h1{
    font-size:20px;
}

.intro p{
    font-size:12.5px;
}

.intro{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 50px;
}

.content h2{
    font-size:12.5px;
    line-height: .6;
}

.content p{
    font-size:12.5px;
    line-height: .6;
}

.image-grid{
    margin: 50px;
    margin-left: 360px;  
    margin-right: 160px;  
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.image-grid img{ /*with claudeai*/
    width:100%;
    height:auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 25px;
}


.nav h1{
    font-size:20px;
}
.nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    height: 100vh;
    padding: 50px;

}

.bottom-gradient { /*with claudeai*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, white, transparent);
    pointer-events: none; /* Allows clicking through the gradient */
    z-index: 10; /* Ensures it appears on top */
}
